.header{
  background-image: url("./images/woman-header.png"),
                    url("./images/brush-header.png");
  background-position: top center, top right;
  background-repeat: no-repeat;
  position: relative;
  min-height: 770px;
}
.top-header{
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 1001px){
.wrap-nav {
  margin-right: 80px;
}}
.menu-nav{
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  li{
    margin-left: 40px;

    a{
      position: relative;
      text-transform: uppercase;
      font-weight: 400;
      color: #2D2926;
      font-size: 25px;
    }
  }
}
.header .header-block .schedule {
  overflow: hidden;
  font-weight: 400;
  font-family: 'Segoe-ui', sans-serif;
  font-size: 22px;
  line-height: 40px;
  margin-left: 25px;
  float: right;
  margin-right: 40px;
  color: #FFF;
  max-width: 330px;
}
.two-block .images {
  display: flex;
  flex-wrap: wrap;

  li{
    flex-grow: 1;
    width: 50%;
    list-style: none;
  }
}





