@font-face {
  font-family: 'Aescudos';
  src: url("./assert/fonts/Aescudos/Aescudos.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Aescudos';
  src: url("./assert/fonts/Aescudos/Aescudos.woff") format("woff"), url("./assert/fonts/Aescudos/Aescudos.ttf") format("truetype"), url("./assert/fonts/Aescudos/Aescudos.svg#Aescudos") format("svg"), url("./assert/fonts/Aescudos/Aescudos.otf") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Segoe-ui';
  src: url("./assert/fonts/segoe-ui/segoe-ui-italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article, aside, details, figcaption, figure, footer, header, menu, nav, section, video {
  display: block; }

ul {
  list-style: none; }

:focus {
  outline: 0; }

html, body {
  font: 300 22px 'Open Sans', sans-serif;
  color: #2D2926;
  line-height: 30px; }

body {
  opacity: 0;
  transition: .3s; }

body.visibility-shown {
  opacity: 1; }

img {
  max-width: 100%;
  vertical-align: middle; }

a {
  text-decoration: none;
  transition: 0.3s; }
  a:hover {
    opacity: 0.7; }

.button {
  padding: 0 32px;
  min-width: 218px;
  border: 4px solid #E1B87F;
  font-size: 26px;
  line-height: 73px;
  border-radius: 5px;
  text-transform: uppercase;
  color: #E1B87F;
  transition: 0.3s;
  cursor: pointer; }
  .button:hover {
    color: #FFF;
    background: #E1B87F; }
  .button-red {
    border-color: #FF6F61;
    color: #FF6F61; }
    .button-red:hover {
      color: #FFF;
      background: #FF6F61; }

.header {
  display: block;
  font-size: 65px;
  font-weight: 700;
  color: #E1B87F;
  line-height: 82px;
  text-transform: uppercase; }
  .header.red {
    color: #FF6F61; }

.wrap-header-block {
  position: relative;
  background: url("./images/woman.png") no-repeat 18% 0; }
  .wrap-header-block:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.4); }
  .wrap-header-block .header-block {
    overflow: hidden;
    position: relative;
    min-height: 771px;
    padding-top: 38px;
    box-sizing: border-box;
    background: url("./images/brush-header.png") no-repeat right top, url("./images/brush-header_left.png") no-repeat bottom -65px left 0px; }
    .wrap-header-block .header-block .schedule {
      float: right;
      margin: 40px 90px 0 0;
      font: 400 30px "Segoe-ui";
      color: #FFF;
      line-height: 40px; }
      .wrap-header-block .header-block .schedule .section {
        margin-bottom: 40px; }
        .wrap-header-block .header-block .schedule .section .label {
          font-weight: 700;
          text-transform: uppercase; }
        .wrap-header-block .header-block .schedule .section .info {
          display: block; }
    .wrap-header-block .header-block .sell-block {
      position: absolute;
      bottom: 42px;
      left: 177px;
      width: 600px; }
      .wrap-header-block .header-block .sell-block .title {
        font: 160px 'Aescudos';
        line-height: 190px; }
      .wrap-header-block .header-block .sell-block .desc {
        margin-bottom: 15px;
        font-size: 35px;
        color: #FFF;
        line-height: 50px; }
  .wrap-header-block .top-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }

.wrap-logo {
  display: block;
  width: 190px;
  margin-left: 47px; }
  .wrap-logo:hover {
    opacity: initial; }

.default-two-block-section {
  display: flex; }
  .default-two-block-section > * {
    width: 50%; }
  .default-two-block-section.woman-body {
    height: 1072px;
    background: url("./images/beauty-body-dermatologie.jpg") no-repeat left -25px top; }
    .default-two-block-section.woman-body .wrap-info {
      padding-bottom: 15%; }
  .default-two-block-section .wrap-info {
    display: flex;
    align-items: center; }
    .default-two-block-section .wrap-info .info {
      max-width: 600px;
      width: 90%;
      margin: 0 auto; }
      .default-two-block-section .wrap-info .info .header {
        max-width: 500px;
        margin-bottom: 20px; }
      .default-two-block-section .wrap-info .info .desc {
        margin-bottom: 35px;
        font-size: 22px;
        font-weight: 300; }
  .default-two-block-section .images {
    display: flex;
    flex-wrap: wrap;
    width: 50%; }
    .default-two-block-section .images li {
      flex-grow: 1;
      width: 50%; }

.wrap-slider {
  position: relative;
  overflow: hidden;
  padding: 130px 0 110px;
  background: #F5F5F5 url("./images/brush-slider.png") no-repeat right top; }

.slider {
  position: initial;
  max-width: 1490px;
  width: 90%;
  margin: 0 auto;
  text-align: center; }
  .slider .slick-arrow {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    margin-top: 110px;
    border: none;
    border-right: 6px solid #D4D4D4;
    border-bottom: 6px solid #D4D4D4;
    text-indent: -9999px;
    background: transparent;
    transform: rotate(135deg);
    cursor: pointer;
    transition: 0.3s; }
    .slider .slick-arrow:hover {
      opacity: 0.7; }
    .slider .slick-arrow.slick-prev {
      left: 95px; }
    .slider .slick-arrow.slick-next {
      right: 95px;
      transform: rotate(-45deg); }
  .slider .slick-slide {
    overflow: hidden;
    box-sizing: border-box;
    padding: 0 75px; }
    .slider .slick-slide .image {
      margin: 0 auto 65px;
      border-radius: 100%; }
    .slider .slick-slide .desc {
      position: relative;
      display: inline-block;
      margin-bottom: 35px;
      font-size: 25px;
      line-height: 34px;
      text-align: left; }
      .slider .slick-slide .desc:before {
        content: '';
        position: absolute;
        left: -75px;
        top: -60px;
        width: 61px;
        height: 67px;
        background: url("./images/hochkomma.png") no-repeat; }
    .slider .slick-slide .author {
      position: relative;
      font: 55px 'Aescudos';
      color: #E1B87F; }
      .slider .slick-slide .author:before, .slider .slick-slide .author:after {
        content: '';
        display: block;
        width: 30px;
        height: 3px;
        position: absolute;
        top: 50%;
        left: -45px;
        background: #E1B87F;
        border-radius: 5px; }
      .slider .slick-slide .author:after {
        left: auto;
        right: -45px; }

.collage {
  display: flex; }
  .collage li {
    overflow: hidden;
    flex-grow: 1; }
    .collage li img {
      transition: 0.3s; }
      .collage li img:hover {
        transform: scale(1.1); }

.wrap-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 80px; }
  .wrap-nav .social-network-icons {
    margin-bottom: 25px; }

.main-nav ul {
  display: flex; }
  .main-nav ul li {
    margin-left: 50px; }
    .main-nav ul li:first-child {
      margin-left: 0; }
    .main-nav ul li a {
      position: relative;
      text-transform: uppercase;
      font-size: 25px;
      font-weight: 400;
      color: #2D2926; }
      .main-nav ul li a:after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: #2D2926;
        transition: 0.3s; }
      .main-nav ul li a:hover:after {
        width: 100%; }

.social-network-icons {
  display: flex; }
  .social-network-icons .social-network-icon {
    margin-left: 25px; }
    .social-network-icons .social-network-icon:first-child {
      margin-left: 0; }

.social-network-icon {
  transition: 0.3s; }
  .social-network-icon.fb {
    background: url("./images/facebook-icon.svg") no-repeat; }
  .social-network-icon.inst {
    background: url("./images/instagram-icon.svg") no-repeat; }
  .social-network-icon.email {
    background: url("./images/email-icon.svg") no-repeat; }
  .social-network-icon:hover {
    opacity: 0.7; }
  .social-network-icon a {
    display: block;
    width: 45px;
    height: 45px;
    text-indent: -9999px; }

/*# sourceMappingURL=style.css.map */
