@font-face {
  font-family: 'Aescudos';
  src: url("./assert/fonts/Aescudos/Aescudos.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Aescudos';
  src: url("./assert/fonts/Aescudos/Aescudos.woff") format("woff"), url("./assert/fonts/Aescudos/Aescudos.ttf") format("truetype"), url("./assert/fonts/Aescudos/Aescudos.svg#Aescudos") format("svg"), url("./assert/fonts/Aescudos/Aescudos.otf") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Segoe-ui';
  src: url("./assert/fonts/segoe-ui/segoe-ui-italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article, aside, details, figcaption, figure, footer, header, menu, nav, section, video {
  display: block; }

ul {
  list-style: none; }

:focus {
  outline: 0; }

html, body {
  font: 300 22px 'Open Sans', sans-serif;
  color: #2D2926;
  line-height: 30px; }

img {
  max-width: 100%;
  vertical-align: middle; }

a {
  text-decoration: none;
  transition: 0.3s; }
  a:hover {
    opacity: 0.7; }

.button {
  padding: 0 32px;
  min-width: 218px;
  border: 4px solid #E1B87F;
  font-size: 26px;
  line-height: 73px;
  border-radius: 5px;
  text-transform: uppercase;
  color: #E1B87F;
  transition: 0.3s;
  cursor: pointer; }
  .button:hover {
    color: #FFF;
    background: #E1B87F; }
  .button-red {
    border-color: #FF6F61;
    color: #FF6F61; }
    .button-red:hover {
      color: #FFF;
      background: #FF6F61; }

.header {
  display: block;
  font-size: 65px;
  font-weight: 700;
  color: #E1B87F;
  line-height: 82px;
  text-transform: uppercase; }

.wrap-header-block {
  position: relative;
  background: url("./images/woman.png") no-repeat 18% 0; }
  .wrap-header-block:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.4); }
  .wrap-header-block .header-block {
    overflow: hidden;
    position: relative;
    min-height: 771px;
    padding-top: 38px;
    box-sizing: border-box;
    background: url("./images/brush-header.png") no-repeat right top, url("./images/brush-header_left.png") no-repeat bottom -65px left 0px; }
    .wrap-header-block .header-block .schedule {
      float: right;
      margin: 40px 90px 0 0;
      font: 400 30px "Segoe-ui";
      color: #FFF;
      line-height: 40px; }
      .wrap-header-block .header-block .schedule .section {
        margin-bottom: 40px; }
        .wrap-header-block .header-block .schedule .section .label {
          font-weight: 700;
          text-transform: uppercase; }
        .wrap-header-block .header-block .schedule .section .info {
          display: block; }
    .wrap-header-block .header-block .sell-block {
      position: absolute;
      bottom: 42px;
      left: 177px;
      width: 600px; }
      .wrap-header-block .header-block .sell-block .title {
        font: 160px 'Aescudos';
        line-height: 190px; }
      .wrap-header-block .header-block .sell-block .desc {
        margin-bottom: 15px;
        font-size: 35px;
        color: #FFF;
        line-height: 50px; }
  .wrap-header-block .top-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }

.wrap-logo {
  display: block;
  width: 190px;
  margin-left: 47px; }
  .wrap-logo:hover {
    opacity: initial; }

.default-two-block-section {
  display: flex; }
  .default-two-block-section .wrap-info {
    width: 50%;
    display: flex;
    align-items: center; }
    .default-two-block-section .wrap-info .info {
      max-width: 600px;
      width: 90%;
      margin: 0 auto; }
      .default-two-block-section .wrap-info .info .header {
        margin-bottom: 20px; }
      .default-two-block-section .wrap-info .info .desc {
        margin-bottom: 35px;
        font-size: 22px;
        font-weight: 300; }
  .default-two-block-section .images {
    display: flex;
    flex-wrap: wrap;
    width: 50%; }
    .default-two-block-section .images li {
      flex-grow: 1;
      width: 50%; }

.wrap-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 80px; }
  .wrap-nav .social-network-icons {
    margin-bottom: 25px; }

.main-nav ul {
  display: flex; }
  .main-nav ul li {
    margin-left: 50px; }
    .main-nav ul li:first-child {
      margin-left: 0; }
    .main-nav ul li a {
      position: relative;
      text-transform: uppercase;
      font-size: 25px;
      font-weight: 400;
      color: #2D2926; }
      .main-nav ul li a:after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: #2D2926;
        transition: 0.3s; }
      .main-nav ul li a:hover:after {
        width: 100%; }

.social-network-icons {
  display: flex; }
  .social-network-icons .social-network-icon {
    margin-left: 25px; }
    .social-network-icons .social-network-icon:first-child {
      margin-left: 0; }

.social-network-icon {
  transition: 0.3s; }
  .social-network-icon.fb {
    background: url("./images/facebook-icon.svg") no-repeat; }
  .social-network-icon.inst {
    background: url("./images/instagram-icon.svg") no-repeat; }
  .social-network-icon.email {
    background: url("./images/email-icon.svg") no-repeat; }
  .social-network-icon:hover {
    opacity: 0.7; }
  .social-network-icon a {
    display: block;
    width: 45px;
    height: 45px;
    text-indent: -9999px; }

/*# sourceMappingURL=style.css.map */
