.two-block-section {
  .wrap-items {
    display: flex;
    flex-direction: column-reverse;

    @media screen and (min-width: 651px) {
      align-items: flex-start;
      height: 100%;
      flex-direction: initial;

      & > * {
        width: 50%;
      }
    }
  }

  &.woman {
    @media screen and (min-width: 651px) {
      background: url("../images/beauty-body-dermatologie.jpg") no-repeat left -225px top;
    }

    @media screen and (min-width: 1001px) {
      height: 502px;
      background-position: left -25px top;
    }

    @media screen and (min-width: 1501px) {
      height: 1072px;
    }

    .wrap-items {
      &:before {
        content: '';
        display: block;
        width: 50%;
      }

      .wrap-info {
        @media screen and (min-width: 1501px) {
          padding-bottom: 15%;
        }
      }
    }
  }

  &.coffee {
    @media screen and (min-width: 1001px) {
      height: 1080px;
      background: url('../images/brush-header_left.png') no-repeat top -70px left 0px,
      url('../images/coffetogo-mockup.jpg') no-repeat center;
      background-size: auto, cover;
    }

    .wrap-info {
      .info {
        margin-bottom: 40px;

        @media screen and (min-width: 1001px) {
          padding-top: 22%;
          margin-bottom: 0;
        }
      }
    }
  }

  .wrap-info {
    display: flex;
    align-self: center;
    padding: 30px 25px;
    box-sizing: border-box;

    @media screen and (min-width: 651px) {
      padding: 20px 25px;
    }

    @media screen and (min-width: 1301px) {
      padding: 30px;
    }

    .info {
      width: 100%;
      margin: 0 auto;

      @media screen and (min-width: 1301px) {
        width: 80%;
      }

      @media screen and (min-width: 1501px) {
        width: 75%;
      }

      .label {
        display: block;
        margin-bottom: 20px;
        color: $goldColor;
        font-size: $defaultSizeMobile;
        font-weight: $fontWeightBold;

        @media screen and (min-width: 651px) {
          font-size:$defaultSizeTablet;
        }

        @media screen and (min-width: 1001px) {
          font-size: $defaultSize;
        }
      }

      .header {
        margin-bottom: 20px;
      }

      p {
        font-size: $defaultSizeMobile;
        font-weight: $fontWeightLight;

        @media screen and (min-width: 751px) {
          font-size: $defaultSizeTablet;
        }

        @media screen and (min-width: 1301px) {
          font-size: $defaultSize;
        }
      }

      a:not(.button) {
        color: $goldColor;
      }
    }
  }

  .images {
    display: flex;
    flex-wrap: wrap;

    li {
      flex-grow: 1;
      width: 50%;

      img {
        width: 100%;
      }
    }
  }
}

.two-block-section__swap:nth-child(2n) .wrap-items {
  flex-direction: row-reverse;
}

.two-block-section__swap:nth-child(2n + 1) {
  background: $lightGrey;
}

.four-column-list {
  display: flex;
  flex-wrap: wrap;
  height: 100%;

  .item {
    transition: $transitionHover;
    border: 6px solid $whiteColor;
    box-sizing: border-box;

    @include card();

    @media screen and (min-width: 451px) {
      width: 50%;
    }

    @media screen and (min-width: 651px) {
      width: 33%;
    }

    @media screen and (min-width: 1001px) {
      width: 25%;

      &:hover {
        transform: scale(1.1);
      }
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}

.two-column-list {
  display: flex;
  flex-wrap: wrap;

  .item {
    display: flex;
    flex-grow: 1;
    margin-bottom: 40px;

    @media screen and (min-width: 651px) {
      display: block;
      width: 50%;
    }

    @media screen and (min-width: 1001px) {
      display: flex;
      margin-bottom: 70px;
    }

    .wrap-img {
      flex: 0 0 80px;
      width: 80px;
      margin: 0 15px 30px 0;

      @media screen and (min-width: 1001px) {
        flex: 0 0 100px;
      }

      @media screen and (min-width: 1301px) {
        flex: 0 0 130px;
      }

      @media screen and (min-width: 1501px) {
        flex: 0 0 150px;
      }

      @media screen and (min-width: 1701px) {
        flex: 0 0 170px;
      }
    }

    .content {
      @media screen and (min-width: 651px) {
        padding-right: 30px;
      }

      @media screen and (min-width: 1301px) {
        padding-right: 70px;
      }

      .title {
        font-size: 20px;
        font-weight: $fontWeightBold;
        color: $redColor;
        text-transform: uppercase;
        word-break: break-all;

        @media screen and (min-width: 1001px) {
          font-size: 26px;
        }

        @media screen and (min-width: 1301px) {
          font-size: 28px;
        }

        @media screen and (min-width: 1501px) {
          font-size: 30px;
        }

        @media screen and (min-width: 1701px) {
          font-size: 35px;
        }
      }

      .desc {
        font-size: 18px;

        @media screen and (min-width: 651px) {
          font-size: 20px;
        }

        @media screen and (min-width: 1001px) {
          font-size: 22px;
        }

        @media screen and (min-width: 1301px) {
          font-size: 24px;
        }

        @media screen and (min-width: 1501px) {
          font-size: 26px;
        }

        @media screen and (min-width: 1701px) {
          font-size: 28px;
        }
      }
    }
  }
}
