.two-block-section {
  .wrap-items {
    display: flex;
    flex-direction: column-reverse;

    @media screen and (min-width: 651px) {
      align-items: flex-start;
      height: 100%;
      flex-direction: initial;

      & > * {
        width: 50%;
      }
    }
  }

  &.woman-body {
    @media screen and (min-width: 651px) {
      background: url("./images/beauty-body-dermatologie.jpg") no-repeat left -225px top;
    }

    @media screen and (min-width: 1001px) {
      height: 502px;
      background-position: left -25px top;
    }

    @media screen and (min-width: 1501px) {
      height: 1072px;
    }

    .wrap-info {
      @media screen and (min-width: 1501px) {
        padding-bottom: 15%;
      }
    }
  }

  &.booking {
    height: 1130px;
    background: url('./images/brush-header_left.png') no-repeat top -70px left 0px,
    url('./images/coffetogo-mockup.jpg') no-repeat bottom -20px center;

    .info {
      padding-top: 29%;
    }
  }

  .wrap-info {
    display: flex;
    align-self: center;
    padding: 30px 25px;
    box-sizing: border-box;

    @media screen and (min-width: 651px) {
      padding: 20px 25px;
    }

    @media screen and (min-width: 1301px) {
      padding: 30px;
    }

    .info {
      width: 100%;
      margin: 0 auto;

      @media screen and (min-width: 1301px) {
        width: 80%;
      }

      @media screen and (min-width: 1501px) {
        width: 75%;
      }

      .label {
        display: block;
        margin-bottom: 20px;
        color: $goldColor;
        font-size: $defaultSize;
        font-weight: $fontWeightBold;
      }

      .header {
        margin-bottom: 20px;
      }

      p {
        font-size: $defaultSizeMobile;
        font-weight: $fontWeightLight;

        @media screen and (min-width: 751px) {
          font-size: $defaultSizeTablet;
        }

        @media screen and (min-width: 1301px) {
          font-size: $defaultSize;
        }
      }

      a {
        color: $goldColor;
      }
    }
  }

  .images {
    display: flex;
    flex-wrap: wrap;

    li {
      flex-grow: 1;
      width: 50%;

      img {
        width: 100%;
      }
    }
  }
}

.two-block-section__swap:nth-child(2n) .flex {
  flex-direction: row-reverse;
}

.two-block-section__swap:nth-child(2n + 1) {
  background: $lightGrey;
}

.four-column-list {
  display: flex;
  flex-wrap: wrap;
  height: 100%;

  .item {
    flex-grow: 1;
    width: 25%;
    transition: $transitionHover;
    border: 6px solid $whiteColor;
    box-sizing: border-box;

    @include card();

    &:hover {
      transform: scale(1.1);
    }
  }
}
