.two-block-section {
  .flex {
    display: flex;
    height: 100%;

    & > * {
      width: 50%;
    }
  }

  &.woman-body {
    height: 1072px;
    background: url("./images/beauty-body-dermatologie.jpg") no-repeat left -25px top;

    .wrap-info {
      padding-bottom: 15%;
    }
  }

  &.booking {
    height: 1130px;
    background: url('./images/brush-header_left.png') no-repeat top -70px left 0px,
    url('./images/coffetogo-mockup.jpg') no-repeat bottom -20px center;

    .info {
      padding-top: 29%;
    }
  }

  .wrap-info {
    display: flex;
    align-items: center;

    .info {
      width: 62.5%;
      margin: 0 auto;

      .label {
        display: block;
        margin-bottom: 20px;
        color: $goldColor;
        font-size: $defaultSize;
        font-weight: $fontWeightBold;
      }
      .header {
        margin-bottom: 20px;
      }

      p {
        margin-bottom: 35px;
        font-size: $defaultSize;
        font-weight: $fontWeightLight;
      }

      a {
        color: $goldColor;
      }
    }
  }

  .images {
    display: flex;
    flex-wrap: wrap;
    width: 50%;

    li {
      flex-grow: 1;
      width: 50%;
    }
  }
}

.two-block-section__swap:nth-child(2n) .flex {
  flex-direction: row-reverse;
}

.two-block-section__swap:nth-child(2n + 1) {
  background: $lightGrey;
}

.four-column-list {
  display: flex;
  flex-wrap: wrap;
  height: 100%;

  .item {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 25%;
    margin-bottom: 70px;
    text-align: center;
    transition: $transitionHover;
    border: 6px solid $whiteColor;
    box-sizing: border-box;

    &:hover {
      transform: scale(1.1);
    }

    .content {
      flex-grow: 1;
      padding: 20px 15px;

      > img {
        display: block;
      }

      .title {
        display: block;
        margin-bottom: 10px;
        color: $redColor;
        font-weight: $fontWeightBold;
        font-size: 26px;
        text-transform: uppercase;
      }

      .desc {
        display: block;
        margin-bottom: 20px;
      }
    }

    .button {
      margin: auto;
    }
  }
}
