.collage {
  display: flex;

  @media screen and (max-width: 650px) {
    flex-wrap: wrap;
  }

  li {
    overflow: hidden;
    flex-grow: 1;

    @media screen and (max-width: 650px) {
      width: 50%;
    }

    img {
      transition: $transitionHover;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
