.default-two-block-section {
  display: flex;

  &>* {
    width: 50%;
  }

  &.woman-body {
    height: 1072px;
    background: url("./images/beauty-body-dermatologie.jpg") no-repeat left -25px top;

    .wrap-info {
      padding-bottom: 15%;
    }
  }

  .wrap-info {
    display: flex;
    align-items: center;

    .info {
      max-width: 600px;
      width: 90%;
      margin: 0 auto;

      .header {
        max-width: 500px;
        margin-bottom: 20px;
      }

      .desc {
        margin-bottom: 35px;
        font-size: 22px;
        font-weight: $fontWeightLight;
      }
    }
  }

  .images {
    display: flex;
    flex-wrap: wrap;
    width: 50%;

    li {
      flex-grow: 1;
      width: 50%;
    }
  }
}
