.wrap-header-block {
  position: relative;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, .5);
  }

  .header-block {
    overflow: hidden;
    position: relative;
    min-height: 771px;
    padding-top: 38px;
    box-sizing: border-box;
    background: url("./images/brush-header.png") no-repeat right -80px top -500px;

    .schedule {
      float: right;
      margin: 40px 90px 0 0;
      font: $fontWeightRegular 30px 'Segoe-ui';
      color: $whiteColor;
      line-height: 40px;

      .section {
        margin-bottom: 40px;

        .label {
          font-weight: $fontWeightBold;
          text-transform: uppercase;
        }

        .info {
          display: block;
        }
      }
    }

    .sell-block {
      position: absolute;
      bottom: 0;
      left: 177px;
      min-height: 418px;

      .title {
        font: 140px 'Aescudos';
        line-height: 210px;
      }

      .desc {
        margin-bottom: 15px;
        font-size: 45px;
        font-weight: $fontWeightBold;
        color: $redColor;
        line-height: 80px;

        &.red {
          color: $redColor;
        }
      }
    }
  }

  .top-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.home-page {
  .wrap-header-block {
    .header-block {
      background: url("./images/brush-header.png") no-repeat right top,
      url("./images/brush-header_left.png") no-repeat bottom -65px left 0px;

      .sell-block {
        width: 600px;

        .title {
          font: 160px 'Aescudos';
          line-height: 190px;
        }

        .desc {
          font-size: 35px;
          color: $whiteColor;
          line-height: 50px;
          font-weight: $fontWeightRegular;
        }
      }
    }
  }
}

.wrap-logo {
  display: block;
  width: 190px;
  margin-left: 47px;

  &:hover {
    opacity: initial;
  }
}
