.our-services {
  @media screen and (min-width: 1001px) {
    padding-top: 30px;
    background: url("../images/brush-slider.png") no-repeat right top;
  }

  @media screen and (min-width: 1301px) {
    padding-top: 60px;
  }

  @media screen and (min-width: 1501px) {
    padding-top: 90px;
  }

  @media screen and (min-width: 1701px) {
    padding-top: 150px;
  }

  .header2 {
    margin-bottom: 40px;

    @media screen and (min-width: 1001px) {
      margin-bottom: 70px;
    }
  }
}
