.two-block-section {
  display: flex;

  &>* {
    width: 50%;
  }

  &.woman-body {
    height: 1072px;
    background: url("./images/beauty-body-dermatologie.jpg") no-repeat left -25px top;

    .wrap-info {
      padding-bottom: 15%;
    }
  }

  &.booking {
    height: 1060px;
    background: url("./images/coffetogo-mockup.jpg") no-repeat top center;
  }

  .wrap-info {
    display: flex;
    align-items: center;

    .info {
      width: 62.5%;
      margin: 0 auto;

      .label {
        display: block;
        margin-bottom: 20px;
        color: $goldColor;
        font-size: $defaultSize;
        font-weight: $fontWeightBold;
      }
      .header {
        margin-bottom: 20px;
      }

      p {
        margin-bottom: 35px;
        font-size: $defaultSize;
        font-weight: $fontWeightLight;
      }

      a {
        color: $goldColor;
      }
    }
  }

  .images {
    display: flex;
    flex-wrap: wrap;
    width: 50%;

    li {
      flex-grow: 1;
      width: 50%;
    }
  }
}

.two-block-section__swap:nth-child(2n) {
  flex-direction: row-reverse;
}

.two-block-section__swap:nth-child(2n + 1) {
  background: $lightGrey;
}

.our-services {
  padding-top: 200px;
}
