$font_main: Open Sans, sans-serif;

$color_main: #fff;
$color_background: #fff;

$fontWeightLight: 300;
$fontWeightRegular: 400;
$fontWeightBold: 700;

$radius: 5px;

$defaultSize: 30px;
$defaultSizeTablet: 22px;
$defaultSizeMobile: 20px;
