.button {
  padding: 0 20px;
  min-width: 190px;
  font-size: 18px;
  line-height: 50px;
  border: 2px solid $goldColor;
  border-radius: $radius;
  text-transform: uppercase;
  font-weight: $fontWeightBold;
  color: $goldColor;
  transition: $transitionHover;
  cursor: pointer;

  @media screen and (min-width: 1301px) {
    padding: 0 24px;
    min-width: 218px;
    font-size: 20px;
    line-height: 56px;
  }

  @media screen and (min-width: 1501px) {
    padding: 0 32px;
    font-size: 26px;
    line-height: 73px;
    border-width: 4px;
  }

  &:hover {
    color: $whiteColor;
    background: $goldColor;
  }

  &.red {
    border-color: $redColor;
    color: $redColor;

    &:hover {
      color: $whiteColor;
      background: $redColor;
    }
  }

  &.inverted {
    color: $whiteColor;
    background: $goldColor;

    &:hover {
      color: $goldColor;
      background: $whiteColor;
    }

    &.red {
      color: $whiteColor;
      background: $redColor;

      &:hover {
        border-color: $redColor;
        color: $redColor;
        background: $whiteColor;
      }
    }
  }
}
