body {
  opacity: 0;
  transition: .3s;
}

body.visibility-shown {
  opacity: 1;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

a {
  text-decoration: none;
  transition: $transitionHover;
  color: $goldColor;

  &:hover {
    opacity: $opacityHover;
  }
}

.overflow {
  overflow: hidden;
}

.hidden-input {
  display: none;
}

.container {
  margin: 0 auto;
  padding: 30px 25px;

  @media screen and (min-width: 1001px) {
    padding: 50px 0;
    width: 80%;
  }
}

.default-list {
  margin-bottom: 40px;
  padding-left: 50px;

  li {
    position: relative;
    margin-bottom: 15px;

    &:before {
      @include line();
    }
  }
}

p {
  margin-bottom: 35px;
  line-height: 1.6;
}
