body {
  opacity: 0;
  transition: .3s;
}

body.visibility-shown {
  opacity: 1;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

a {
  text-decoration: none;
  transition: $transitionHover;

  &:hover {
    opacity: $opacityHover;
  }
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;
}
