@font-face {
  font-family: 'Aescudos';
  src: url('../fonts/Aescudos/Aescudos.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aescudos';
  src: url("../fonts/Aescudos/Aescudos.woff" ) format('woff'),
    url('../fonts/Aescudos/Aescudos.ttf') format('truetype'),
    url('../fonts/Aescudos/Aescudos.svg#Aescudos') format('svg'),
    url('../fonts/Aescudos/Aescudos.otf') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe-ui';
  src: url('../fonts/segoe-ui/segoe-ui-italic.ttf') format('truetype');
  //url("../fonts/segoe-ui/segoe-ui.woff" ) format('woff');
  //url('../fonts/segoe-ui/segoe-ui.svg#segoe-ui') format('svg'),
  //url('../fonts/segoe-ui/segoe-ui.otf') format('svg');
  font-weight: normal;
  font-style: normal;
}
