@mixin colorPlaceholder($selector, $color) {
  #{$selector}::placeholder { /* Firefox, Chrome, Opera */
    color: $color;
  }

  #{$selector}:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $color;
  }

  #{$selector}::-ms-input-placeholder { /* Microsoft Edge */
    color: $color;
  }
}

@mixin line() {
  content: '';
  display: block;
  width: 30px;
  height: 3px;
  position: absolute;
  top: 50%;
  left: -45px;
  background: $goldColor;
  border-radius: $radius;
}

@mixin card() {
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
  text-align: center;

  .content {
    flex-grow: 1;
    padding: 20px 15px;

    > img {
      display: block;
    }

    .title {
      display: block;
      margin-bottom: 10px;
      color: $redColor;
      font-weight: $fontWeightBold;
      font-size: 26px;
      text-transform: uppercase;
    }

    .desc {
      display: block;
      margin-bottom: 20px;
    }
  }

  .button {
    margin: auto;
  }
}
