@mixin colorPlaceholder($selector, $color) {
  #{$selector}::placeholder { /* Firefox, Chrome, Opera */
    color: $color;
  }

  #{$selector}:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $color;
  }

  #{$selector}::-ms-input-placeholder { /* Microsoft Edge */
    color: $color;
  }
}

@mixin line() {
  content: '';
  display: block;
  width: 30px;
  height: 3px;
  position: absolute;
  top: 50%;
  left: -45px;
  background: $goldColor;
  border-radius: $radius;
}

@mixin card() {
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
  text-align: center;

  .content {
    flex-grow: 1;
    padding: 20px 15px;

    > img {
      display: block;
    }

    .title {
      display: block;
      margin-bottom: 10px;
      color: $redColor;
      font-weight: $fontWeightBold;
      font-size: 20px;
      text-transform: uppercase;

      @media screen and (min-width: 1001px) {
        font-size: 22px;
      }

      @media screen and (min-width: 1301px) {
        font-size: 26px;
      }
    }

    .desc {
      display: block;
      margin-bottom: 20px;
    }
  }

  .button {
    margin: auto;
  }
}

@mixin animationSlideInLeft($delay) {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) $delay both;
  animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) $delay both;

  @-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
      transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
      transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }

}

@mixin animationFadeIn() {
  -webkit-animation: fade-in 500ms cubic-bezier(0.390, 0.575, 0.565, 1.000) 400ms both;
  animation: fade-in 500ms cubic-bezier(0.390, 0.575, 0.565, 1.000) 400ms both;

  @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

}
