$mainColor: #2D2926;
$goldColor: #E1B87F;
$redColor: #FF6F61;
$blackColor: #2D2926;
$whiteColor: #FFF;

$opacityHover: .7;
$transitionHover: .3s;

$fontWeightRegular: 400;
$fontWeightBold: 700;

$radius: 5px;
